<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>NexDegree - Login & Signup</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
<div class="animated-bg"></div>
<section class="wrapper">
    <!-- Signup Form -->
    <div class="form signup">
        <header>Signup</header>
        <form id="signupForm" method="post" action="php/signup_process.php">
            <input type="text" id="firstName" name="firstName" placeholder="First Name" required />
            <input type="text" id="secondName" name="secondName" placeholder="Last Name" required />
            <input type="tel" id="phoneNumber" name="phoneNumber" placeholder="Phone Number" required />
            <input type="email" id="email" name="email" placeholder="Email Address" required />
            <select name="role" id="role" required onchange="togglestudent()">
                <option selected disabled >votre role </option>
                <option value="etudient">Student</option>
                <option value="prof">Teacher (Request Approval)</option>
            </select>
            <div id="student" style="display: none">
                    <header>Eleve  : </header>
                    <select name="niveau" id="niveau">
                        <option value="NULL" disabled>selectioner votre niveau </option>
                        <option value="7eme">7éme</option>
                        <option value="8eme">8éme</option>
                        <option value="9eme">9éme</option>
                        <option value="1 secondaire">1 secondaire</option>
                        <option value="2éme info">2éme informatique</option>
                        <option value="2éme science">2éme science</option>
                        <option value="2éme lettre">2éme lettre</option>
                        <option value="3éme info">3éme informatique</option>
                        <option value="3éme science exprimentale">3éme science exprimentale</option>
                        <option value="3éme lettre">3éme lettre</option>
                        <option value="3éme mathematique">3éme mathematique</option>
                        <option value="3éme technique">3éme technique</option>
                        <option value="BAC info">BAC informatique</option>
                        <option value="3éme science exprimentale">BAC science exprimentale</option>
                        <option value="3éme lettre">BAC lettre</option>
                        <option value="3éme mathematique">BAC mathematique</option>
                        <option value="3éme technique">BAC technique</option>
                    </select><br>
                    <label for="student_image">votre image</label>
                    <input id="student_image" type="file">
                </div>
                <div id="prof"style="display:  none">
                    <header>Teacher (Request Approval)</header>
                    <select name="matier" id="matier">
                        <option value="" selected disabled>matier pour educater</option>
                    </select>
                    <label for="CV">cv : </label><input type="file" name="cv" id="cv">
                </div>
            <input type="password" id="password" name="password" placeholder="Password" required />
            <input type="cpassword" id="cpassword" name="cpassword" placeholder="confirm Password" required />

            <input type="submit" id="signupSubmit" value="Signup" />
        </form>
    </div>
    <div class="form login">
        <header>Login</header>
        <form id="loginForm" action="php/login.php" method="post">
            <input type="email" id="loginEmail" name="loginEmail" placeholder="Email Address" required />
            <input type="password" id="loginPassword" name="loginPassword" placeholder="Password" required />
            <a href="password.html" class="forgot-password">Forgot password?</a>
            <input type="submit" id="loginSubmit" value="Login" />
        </form>
    </div>
</section>

<script src="../js/sign_in.js"></script>
</body>
</html>
